[submodule "ZOLVANT/odoo-argentina"]
	path = ZOLVANT/odoo-argentina
	url = git@github.com:ZOLVANT/odoo-argentina.git
	branch = 13.0

[submodule "ZOLVANT/odoo-argentina-ee"]
	path = ZOLVANT/odoo-argentina-ee
	url = git@github.com:ZOLVANT/odoo-argentina-ee.git
	branch = 13.0

[submodule "ZOLVANT/account-payment"]
	path = ZOLVANT/account-payment
	url = git@github.com:ZOLVANT/account-payment.git
	branch = 13.0

[submodule "ZOLVANT/aeroo_reports"]
	path = ZOLVANT/aeroo_reports
	url = git@github.com:ZOLVANT/aeroo_reports.git
	branch = 13.0
