[submodule "ZOLVANT/odoo-argentina"]
	path = ZOLVANT/odoo-argentina
	url = git@github.com:ZOLVANT/odoo-argentina.git
	branch = 13.0

[submodule "ZOLVANT/odoo-argentina-ee"]
	path = ZOLVANT/odoo-argentina-ee
	url = git@github.com:ZOLVANT/odoo-argentina-ee.git
	branch = 13.0

[submodule "ZOLVANT/account-payment"]
	path = ZOLVANT/account-payment
	url = git@github.com:ZOLVANT/account-payment.git
	branch = 13.0

[submodule "ZOLVANT/aeroo_reports"]
	path = ZOLVANT/aeroo_reports
	url = git@github.com:ZOLVANT/aeroo_reports.git
	branch = 13.0

[submodule "ZOLVANT/account-financial-tools"]
	path = ZOLVANT/account-financial-tools
	url = git@github.com:ZOLVANT/account-financial-tools.git
	branch = 13.0

[submodule "ZOLVANT/argentina-sale"]
	path = ZOLVANT/argentina-sale
	url = git@github.com:ZOLVANT/argentina-sale.git
	branch = 13.0

[submodule "ZOLVANT/payment_mercadopago"]
	path = ZOLVANT/payment_mercadopago
	url = git@github.com:ZOLVANT/payment_mercadopago.git
	branch = 13.0

[submodule "ZOLVANT/multi-compania"]
	path = ZOLVANT/multi-compania
	url = git@github.com:ZOLVANT/multi-company.git
	branch = 13.0

[submodule "ingadhoc/argentina-sale"]
	path = ingadhoc/argentina-sale
	url = git@github.com:ingadhoc/argentina-sale.git
	branch = 13.0
